fastapi==0.109.2
uvicorn==0.27.1
httpx==0.26.0
pycryptodome==3.20.0
mini-racer==0.12.2
rapidfuzz==3.6.1
selectolax==0.3.21
m3u8==4.1.0
pydantic==2.6.1
pydantic-settings==2.2.1
APScheduler==3.10.4
numpy==2.5.1
